.container{
    display: flex;
    
}
.leftSection{
    width:50%;
    background-color: #6155db;
    composes: normalText from "typography.css";
}
.main{
    width:50%;
    background-color: #f7f7f7;
    /* overflow-x: hidden; */
    overflow-y: auto;
}
@media (max-width:800px){
    .container{
        flex-direction: column;
    }
    .leftSection{
        width: 100%;
    }
    .main{
        width: 100%;
    }
}